# Global Environment Variables
DOMAIN=example.local

# MinIO Credentials
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=CHANGE_ME_minio_password

# DefectDojo Database
DEFECTDOJO_DB_USER=defectdojo
DEFECTDOJO_DB_PASSWORD=CHANGE_ME_defectdojo_password

# Authelia
AUTHELIA_LDAP_PASSWORD=CHANGE_ME_authelia_ldap_password

# CrowdSec
CROWDSEC_BOUNCER_API_KEY=CHANGE_ME_crowdsec_bouncer_key
